<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Daily Sales Entry</title>

    <style>
      .header-container {
        background-color: #c2daf2;
        border-bottom: 2px solid #dee2e6;
      }

      .header-container h3 {
        font-weight: bold;
        color: #4874a0;
      }

      .header-container .store-name {
        font-weight: 600;
        color: #4874a0;
      }

      .header-container .btns .btn {
        padding: 8px 15px;
        font-size: 0.9rem;
        font-weight: 500;
      }

      body {
        background-color: #829db8;
        color: aliceblue;
      }

      form {
        margin-top: 12vw;
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
        width: 100%;
        max-width: 600px;
        padding: 20px;
        border: 2px solid #007bff;
        border-radius: 10px;
      }

      @media (max-width: 768px) {
        .header-container h3,
        .header-container .store-name {
          font-size: 1.2rem;
        }
        .header-container .btns {
          flex-direction: column;
        }
        .header-container .btns .btn {
          margin-bottom: 5px;
        }
      }
    </style>
  </head>
  <body>
    <header class="header-container py-3 mb-4 fixed-top">
      <div class="container">
        <div class="row align-items-center">
          <h3 class="col-md-3">Daily Sales Entry</h3>
          <h4 class="col-md-3 store-name">Symphony Mall</h4>
          <div class="btns col-md-6 d-flex justify-content-end">
            <a href="{% url 'home' %}" class="btn btn-secondary mr-2">Main Menu</a>
            <a href="{% url 'view_history' %}" class="btn btn-secondary mr-3">View History</a>
            <a href="{% url 'logout' %}" class="btn btn-secondary">Log Out</a>
          </div>
        </div>
      </div>
    </header>

    <div
      class="d-flex justify-content-center align-items-center"
      style="padding-top: 100px"
    >
      <form action="{% url 'DailySales' %}" method="POST">
        {% csrf_token %}
        <div class="form-group text-center">
          <label for="date" style="font-size: larger; font-weight: bold"
            >Date</label
          >
          <input
            type="date"
            class="form-control"
            id="date"
            name="date"
            required
            style="width: 100%; max-width: 300px; margin: 0 auto"
          />
        </div>
        <div class="table-container">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th><label for="phonepe_upi">Phone pe/UPI</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="phonepe_upi"
                    id="phonepe_upi"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="card_pmt">Card Pmt</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="card_pmt"
                    id="card_pmt"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="zomato">Zomato</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="zomato"
                    id="zomato"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="swiggy">Swiggy</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="swiggy"
                    id="swiggy"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="bms">BMS</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="bms"
                    id="bms"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="cash">Cash</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="cash"
                    id="cash"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="expenditure">Expenditure</label></th>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    name="expenditure"
                    id="expenditure"
                    step="0.01"
                  />
                </td>
              </tr>
              <tr class="font-weight-bold">
                <th><label for="total_sale">Total Sale</label></th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    name="total_sale"
                    id="total_sale"
                    disabled
                    style="background-color: #e9ecef; font-weight: bold"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end">
          <button id="submit-btn" type="submit" class="btn btn-secondary mr-2 mb-2">
            Submit
          </button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const fields = [
          "phonepe_upi",
          "card_pmt",
          "zomato",
          "swiggy",
          "bms",
          "cash",
        ];
    
        // Function to calculate total
        function calculateTotal() {
          let total = 0;
          fields.forEach((field) => {
            const value = parseFloat(document.getElementById(field).value) || 0;
            total += value;
          });
    
          // Set the total value in the "total_sale" field
          document.getElementById("total_sale").value = total.toFixed(2);
        }
    
        // Attach event listeners to the input fields
        fields.forEach((field) => {
          const element = document.getElementById(field);
          element.addEventListener("input", calculateTotal);
        });
    
        // Confirmation before submitting the form
        const submitButton = document.getElementById("submit-btn");
        submitButton.addEventListener("click", (event) => {
          const confirmSubmission = confirm(
            "Are you sure you want to submit this sales entry?"
          );
          if (!confirmSubmission) {
            // Prevent form submission if user cancels
            event.preventDefault();
          }
        });
      });
    </script>
    

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
